* {
  box-sizing: border-box;
}

body {
  margin: 0;

  background-color: var(--color4);
}

:root {
  --color1: #21222a;
  --color2: #61dafb;
  --color3: #00d8ff;
  --color4: #282d35;
  --color5: #ffffff;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  background-color: var(--color1);
  padding-left: 27px;
  height: 91px;
}

.navigation img {
  width: 40px;
  height: 40px;
}

.navigation h1 {
  color: var(--color2);
  font-family: "Inter";
  font-weight: 700;
}

.main-div {
  /* background-color: var(--color4); */
  color: var(--color5);
}

.main-div h1 {
  font-size: 2.5rem;
  font-weight: 700;

  margin: 0;

  padding-top: calc(148px - 91px);
  padding-left: 27px;
}

.main-div ul {
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 400;

  padding-left: 74px;

  max-width: 450px;
}

.main-div li {
  line-height: 1.1rem;
  padding-block: 10px;
}

.main-div ul > li::marker {
  font-size: 1.4rem;
  color: var(--color2);
}

.big-logo {
  width: 280px;
  transform: rotate(15deg);
  position: relative;

  top: -280px;
  left: 850px;
}
